body, html {
   background-color: #fff;
  height: auto;
}

  h1 {color: #f48028;
  text-align: center;
  }
  
h2,h3,h4 {color: #f48028;}

.affix { z-index: 9998;
  top: 30px;
  background: #000;
  border-radius: 15px;
  }

.navbar.affix {z-index: 9999;
background: #000;
position: fixed;
}

.col-centered {margin:0 auto;
}

#aboutservices{}
#portfolioprojects{}
#contactme{}
#aboutme{}
#quoterates{}

#container:hover #name {
  transform: translate(0, 0) !important;
  z-index: 10;
}

#container #name {
  transition: transform 0.25s ease;
  transform: translate(0, 90%) !important;
  z-index: 10;
   position: absolute; 
   left: 0; 
   right: 0; 
   top: 0; 
   bottom: 0; 
   text-align: center;
}

#container {
  position: relative;
    overflow: hidden;
  z-index: 10;
   width:300px;
   height:200px;
}

#name {
  width: 300px;
  height: 433px;
  background-color: rgba(255,255,255,0.8);
  z-index: 10;
}


/* for parallax - copy .content array and rename for every image-insert in site*/
.index-bg-1 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/pexels-photo-38892-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 100vh;
  padding: 10%;
}
.index-bg-2 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/cup-of-coffee-laptop-office-macbook-89786-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

.index-bg-3 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/pexels-photo-204693-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

.index-bg-4 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/laptop-computer-coffee-yellow-163145-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

.index-bg-5 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/pexels-photo-442574-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size;
}

ul.posts li {
    list-style: none;
}

.banner {margin: 0 auto;}

@media all and (min-width: 601px) {
   .index-bg-1 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/pexels-photo-38892-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 100vh;
  padding: 10%;
}
.index-bg-2 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/cup-of-coffee-laptop-office-macbook-89786-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

.index-bg-3 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/pexels-photo-204693-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

.index-bg-4 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/laptop-computer-coffee-yellow-163145-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

.index-bg-5 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/pexels-photo-442574-1920px.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      min-height: 100vh;
  padding: 10%;
}

    }
