body, html {
   background-color: #fff;
   height: 100%;
  }

  h1 {color: #d95033;
  text-align: center;
  }
  
h2,h3,h4 {color: #d95033;}

.affix { z-index: 9998;
  top: 30px;
  background: #000;
  border-radius: 15px;
  }

.navbar.affix {z-index: 9999;
background: #000;
position: fixed;
}

.col-centered {margin:0 auto;
}

#aboutservices{}
#portfolioprojects{}
#contactme{}
#aboutme{}

#container:hover #name {
  transform: translate(0, 0) !important;
  z-index: 10;
}

#container #name {
  transition: transform 0.25s ease;
  transform: translate(0, 90%) !important;
  z-index: 10;
}

#container {
  position: relative;
    overflow: hidden;
  z-index: 10;

}

#name {
  width: 300px;
  height: 433px;
  background-color: rgba(255,255,255,0.8);
  z-index: 10;
}

/* for parallax - copy .content array and rename for every image-insert in site*/
.index-bg-1 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/pexels-photo-38892.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10%;
}
.index-bg-2 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(/cup-of-coffee-laptop-office-macbook-89786.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10%;
}

.index-bg-3 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/pJMFicFqOMTMjBD6m9vDXjbB1vGJaHgwgMeW4XD9_yJREH4KpgJqvinXxeTcGeRRPv2lvLRfC7HODE8nPbdMkLG963ERdt9CNNK4g_SoeHzlao8EsgB-qptw-dpsMTkiRjfV2aBunSQ6ACIz7PPzTxsf8H_mQIgy9n4fMpq0L9X4Vxaz3jcaL1u1KN9583UEuSfGIBF0e1dQ9Va07XE9CUpWHT1knNae8Ca2pRU7_LIiNhOq1P1t_khB_bV7a6t9Hle98lnk6RFklccpPsoNunEruPjnFRTHsxD-V5tN5xE-zYB-Gf-vQxJYuI4LoY4Xfj9xLBDroLkbmig1o6MWp3GY78tIlwvXodTIi4G-kaq6lqQwaEZvYCN5UDjauzTx8chVgWxGywdgMTkNbwTMOirQdk_wh-88D175yzgto46Rp1mvW4oPvZ9sTrX3lz5ndxDjqjmzajSkVPtrAe_Kzm6XgB9vTMAg5rq3aiXEg6THBz_VESYkp2_gAFKSh5dSylKCCcmS2qHjWo2fDy-ht8-nEFyBHkkLb-7aI5Xp0iVErXhjarh5NlXbG-H4GMmB52db=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10%;
}

.index-bg-4 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/KeTWxkz_jy7_tamS72wTZ4QAOVwMnHrZpfpU971t7roYBewav1b339474f_T1RL9Uh6pPJyNAqtG1xdLwbV0-AZfIHWHw3_2fHnXJZYNBh8YlSSDwCzxNvSdBRG38U3OVmNyp7MwILjJoluImGSXY8-zqy_djvtDpFBf7A1W0cgNEr_mV97yGz8y4MZXxTK-Fzm01CPNdSVZCYvPO9d1NF4h9Eh5hfuBps8vsI6EjEneX7zouRlleZOSvPH6vqj42P7gfWDXVTfs-6L9wWwj7gV9YwKP3mIwVMyU8Y3FyXRE5uazkG-TFH-Dhl6mI2ea8XnHFS_E2PI7AnAebgQ1FvlqX79lq4iv1nlYYLPp9VEOvqPPZ5n8VfAnQzGBYzJwbB7FSjU4NvVaoqcX9_H_cP-AS3kJb-aHA1ZJlE6HB05bA-Sv7UVjlSq9-2EIy8HshVSbciMmRqnSsyN63vOxscWsUntskLxyi4SKEhW0bxTZxmJex4SQiDgXKOdHT1RDn5cuioICShf6svTmzmsnCxVGYiVyePekywXETkJs9Oj8bdxuN8ioomg5ez6744w0UnW_ja6H71b5SL354Vb_GxhRY3Gc67o=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10%;
}

.index-bg-5 {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/pJMFicFqOMTMjBD6m9vDXjbB1vGJaHgwgMeW4XD9_yJREH4KpgJqvinXxeTcGeRRPv2lvLRfC7HODE8nPbdMkLG963ERdt9CNNK4g_SoeHzlao8EsgB-qptw-dpsMTkiRjfV2aBunSQ6ACIz7PPzTxsf8H_mQIgy9n4fMpq0L9X4Vxaz3jcaL1u1KN9583UEuSfGIBF0e1dQ9Va07XE9CUpWHT1knNae8Ca2pRU7_LIiNhOq1P1t_khB_bV7a6t9Hle98lnk6RFklccpPsoNunEruPjnFRTHsxD-V5tN5xE-zYB-Gf-vQxJYuI4LoY4Xfj9xLBDroLkbmig1o6MWp3GY78tIlwvXodTIi4G-kaq6lqQwaEZvYCN5UDjauzTx8chVgWxGywdgMTkNbwTMOirQdk_wh-88D175yzgto46Rp1mvW4oPvZ9sTrX3lz5ndxDjqjmzajSkVPtrAe_Kzm6XgB9vTMAg5rq3aiXEg6THBz_VESYkp2_gAFKSh5dSylKCCcmS2qHjWo2fDy-ht8-nEFyBHkkLb-7aI5Xp0iVErXhjarh5NlXbG-H4GMmB52db=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10%;
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size;
}

ul.posts li {
    list-style: none;
}

.banner {margin: 0 auto;}

