body, html {
    height: 100%;
}

.background1 { 
    background-image: url("pexels-photo-38892.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
