<!--Start Nav--><nav><!--Start Nav-->
    <div class="text-center">
   <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="550">
    <div class="row">
                <div class="col-sm-4">
    <li> <a target="_blank" href=""><i class="fa fa-twitter" style="color: #aaa"></i></a></li>
     </div>
                         <div class="col-sm-4">
<li> <a target="_blank" href=""><i class="fa fa-facebook" style="color: #aaa"></i></a></li>
     </div>
              <div class="col-sm-4">
 <li><a target="_blank" href=""><i class="fa fa-instagram" style="color: #aaa"></i></a></li>
     </div>
    </div>
    <br>
    <div class="row">
          <div class="col-sm-4">
<li><a href="" target="_blank"><i class="" style="color: #aaa"></i></a></li>
     </div>
	              <div class="col-sm-4">
<li><a href="" target="_blank"><i class="fa fa-newspaper-o" style="color: #aaa"></i></a></li>
     </div>
                     <div class="col-sm-4">
<li><a href="mailto:kaie.web@gmail.com" target="_blank"><i class="fa fa-envelope" style="color: #aaa"></i></a></li>
      </div>
    </div>
   </ul><!--end navbar top level menu items list-->
   </div><!--end Navbar collapse-->
 </nav>
